@charset "UTF-8";

p {
    font-size: 20px;
    font-weight: bold;
    margin: 60px auto 40px;
}

table {
    width: 100%;
}

.user-table th {
    background: #FEF075;
    border: solid 1px #ccc;
    color: black;
    padding: 10px;
}

.admin-table th {
    background: #90edb2;
    border: solid 1px #ccc;
    color: black;
    padding: 10px;
}

td {
    border: solid 1px #ccc;
    padding: 10px;
}
